.root {
    -fx-background-color: #f8f4ff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
.button {
    -fx-background-color: #c8f7d4;
    -fx-text-fill: #3d3d3d;
    -fx-font-weight: bold;

    -fx-background-radius: 12px;
    -fx-border-radius: 12px;

    -fx-border-color: #9bd8b1;
    -fx-border-width: 2px;

    -fx-padding: 8px 15px;

    -fx-effect: dropshadow(gaussian,
    rgba(0,0,0,0.10),
    8,0,0,2);

    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #b8efc8;
}

.button:pressed {
    -fx-background-color: #a5dfb4;
    -fx-translate-y: 1px;
}
.toggle-button {
    -fx-background-color: #e7dbff;
    -fx-text-fill: #4a4260;

    -fx-border-color: #c8b6ff;
    -fx-border-width: 2px;

    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.toggle-button:selected {
    -fx-background-color: #c8b6ff;
    -fx-text-fill: white;
}
.check-box {
    -fx-text-fill: #555555;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #b8a2ff;
    -fx-border-width: 2px;

    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.check-box:selected .box {
    -fx-background-color: #c8b6ff;
}

.check-box:selected .mark {
    -fx-background-color: white;
}
.combo-box {
    -fx-background-color: #e9f7ff;
    -fx-border-color: #b8cfff;

    -fx-border-radius: 10px;
    -fx-background-radius: 10px;

    -fx-border-width: 2px;
}
.scroll-pane {
    -fx-background: transparent;
    -fx-background-color:
            rgba(255,255,255,0.80);

    -fx-border-color: #c8b6ff;
    -fx-border-width: 2px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.label {
    -fx-text-fill: #4a4260;
}


.matriz-esquina {
    -fx-background-color: #c8b6ff;
    -fx-border-color: #b8a2ff;
    -fx-border-width: 1px;
}

.matriz-encabezado {
    -fx-background-color: #e7dbff;
    -fx-border-color: #c8b6ff;
    -fx-border-width: 1px;
    -fx-font-weight: bold;
    -fx-text-fill: #4a4260;
}

.matriz-celda-cero {
    -fx-background-color: #ffffff; /* Blanco limpio para los ceros */
    -fx-border-color: #f3e9ff;     /* Bordes lila muy suaves */
    -fx-border-width: 1px;
    -fx-text-fill: #black;        /* Texto tenue para que no estorbe */
}

.matriz-celda-uno {
    -fx-background-color: #ffffff; /* Verde menta idéntico a tus botones */
    -fx-border-color: #9bd8b1;
    -fx-border-width: 1px;
    -fx-font-weight: bold;
    -fx-text-fill: black;        /* Texto oscuro para contraste */
}
.popup-root {
    -fx-background-color: #e8e0f8;
}

.popup-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-padding: 30px 50px;
    -fx-font-family: "Segoe UI";
}